nav {
	height: 80px;
	background-color: black;
}

nav .container {
	margin: 0 auto;
	max-width: 1100px;

}

nav .navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

nav .logo a {
	font-size: 30px;
	color: #fff;
	text-decoration: none;
	font-weight: 700;

}
nav .logo i {
	font-size: 20px;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
}

nav .menu ul {
	display: flex;
}

nav .menu ul li {
	list-style: none;
	margin: 0 15px;

}

nav .menu a {
	text-decoration: none;
	font-size: 17px;
	color: #fff;
	font-weight: 400;
	transition: all 400ms;

}

nav .menu a:hover {
	padding: 10px;
	background: rgb(196, 235, 23);
	color: #000;
	border: none;
	outline: none;
	border-radius: 5px;
}

.checkbtn{
	display: none;
	color: #fff;
	font-size: 25px;

}

#checking{
	display: none;
}
@media(max-width:580px) {

	.container h1{
		font-size:25px;
	}
	.container p{
		font-size:15px;
	}

	.checkbtn{
		display: block;
	}

	nav .menu ul {
		z-index: 1;
		position: fixed;
		top: 80px;
		right: -100%;
		background: rgb(44, 42, 42);
		width: 70%;
		display: block;
		text-align: center;
		transition: all 800ms;

	}

	nav .menu ul li {
		margin: 30px 0;
		display: block;
	

	}

	nav .menu li a {
		font-size: 15px;
	
	}


	nav .menu li a:hover {
		padding: unset;
		position: relative;
		background: none;
		color: rgb(142, 23, 179);
		border: unset;
		outline: unset;
		border-radius: unset;

	}
	#checking:checked ~ ul{
		right:0%;
		position: absolute;
	}

	#checking:checked ~ label i::before{
		content: '\f00d';
	}
}