<footer>
    <div class="footer">
      <div class="row">
        <div class="foot col-md-4">
          <div>
            <h3><i class="fas fa-globe"></i> About Us</h3>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a
              galley of type
              and
            </p>
          </div>
        </div>
        <div class="foot col-md-4">
          <div>
            <h3><i class="fas fa-share-alt"></i> What We Offer</h3>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a
              galley of type
              and
            </p>


          </div>
        </div>
        <div class=" foot col-md-4">
          <div>

            <h3><i class="fas fa-tv"></i> Feature</h3>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a
              galley of type
              and
            </p>


          </div>
        </div>
      </div>
    </div>
  </footer>